* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    width: 40%;
    box-shadow: 0 5px 10px 0 black;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
}

input,
select,
textarea {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: rgb(52, 52, 255);
}

.formulir b {
    text-align: center;
}

form h3 {
    margin-top: 3vh;
}

.formulir {
    display: grid;
    align-items: start;
    text-align: start;
    font-family: sans-serif;
}

.formulir label {
    margin-top: 1.5vh;
}

b {
    margin-top: 2.5vh;
}

.alamat {
    padding: 10px 10px 50px 10px;
    border-radius: 10px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('polman.jpg');
    background-size: 200%;
    background-position: 20vw;
}

select {
    padding: 10px;
    border-radius: 10px;
}

.file {
    margin-top: 2.5vh;
    display: flex;
}

.file button {
    margin-right: 0.5vw;
}

.output {
    margin-top: 2.5vh;
    align-items: center;
    text-align: center;
}

.output button {
    padding: 10px 70px;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(52, 52, 255);
    margin-bottom: 5vh;
    color: white;
}

.output button:hover {
    background-color: rgb(124, 124, 255);
}

@media (min-width: 360px) and (max-width: 480px) {
    .container {
        width: 100%;
        background-color: transparent;
    }

    .container {
        color: white;
    }

    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('polman.jpg');
        background-size: 1000%;
        background-position: 1px;
    }
}